/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */
.margin{
    margin: 30px 0;
}

.floating {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* body */
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 25px;
}

header {
    background-color: rgb(228, 125, 228);
    height: 150px;
}

.yellow_section {
    background-color: rgb(225, 213, 127);
    height: 500px;
}

.blue_section {
    background-color: rgb(24, 137, 251);
}

.header_section{
    background-color: rgb(172, 207, 230);
    height: 90px;
}

.sidebar {
    background-color: rgb(172, 207, 230);
    height: 540px;
    width: 25%;
}

.centralbar{
    background-color: rgb(172, 207, 230);
    width: calc(50% - 50px);
    height: 540px;
    margin-left: 25px;
    margin-right: 25px;
}

footer{
    background-color: rgb(135, 37, 251);
    margin: 15px 0;
    height: 60px;
}